openapi: 3.1.0
info:
  title: Lancert API
  version: 2.0.0
  description: |
    Register an RFC 1918 IPv4 hostname and update its DNS-01 TXT record.
    Lancert never issues, stores, or distributes certificates or private keys.
    Only POST /update is compatible with the acme-dns wire contract.
    Every response includes X-Lancert-API-Version. Version 2 is the current
    compatibility contract and is independent from the server release version.
servers:
  - url: https://lancert.dev
paths:
  /register/{ip}:
    post:
      summary: Register a private IPv4 hostname
      description: Accepts an empty body and returns unrecoverable credentials once.
      parameters:
        - name: ip
          in: path
          required: true
          schema:
            type: string
          example: 192.168.1.50
      responses:
        "201":
          description: Registration created.
          headers:
            X-Lancert-API-Version:
              $ref: "#/components/headers/APIVersion"
            Cache-Control:
              schema:
                type: string
                const: no-store
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Registration"
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/DatabaseError"
  /update:
    post:
      summary: Update a DNS-01 challenge
      description: Compatible with the acme-dns update request and success response.
      parameters:
        - name: X-Api-User
          in: header
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Api-Key
          in: header
          required: true
          schema:
            type: string
            writeOnly: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Update"
      responses:
        "200":
          description: Challenge usage recorded and the TXT value published in memory for 15 minutes.
          content:
            application/json:
              schema:
                type: object
                required: [txt]
                properties:
                  txt:
                    $ref: "#/components/schemas/Challenge"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          description: Invalid credentials, disabled registration, or wrong subdomain.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/DatabaseError"
  /health:
    get:
      summary: Essential-state readiness
      responses:
        "200":
          description: Ready.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
        "503":
          description: Essential state is degraded or shutdown has started.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
  /status:
    get:
      summary: Aggregate service and DNS status
      responses:
        "200":
          description: Status response. Metrics availability does not determine DNS readiness.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
components:
  headers:
    APIVersion:
      description: Lancert HTTP API compatibility version.
      schema:
        type: string
        const: "2"
  schemas:
    Challenge:
      type: string
      minLength: 43
      maxLength: 43
      pattern: "^[A-Za-z0-9_-]{43}$"
    Registration:
      type: object
      required: [hostname, username, password, subdomain, fulldomain]
      properties:
        hostname:
          type: string
          pattern: "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?\\.lancert\\.dev$"
          example: quiet-otter.lancert.dev
        username:
          type: string
          format: uuid
        password:
          type: string
          description: One-time credential. Save it from the registration response because Lancert cannot return it again.
        subdomain:
          type: string
          description: Opaque DNS label assigned by Lancert.
          pattern: "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$"
          example: quiet-otter
        fulldomain:
          type: string
          example: _acme-challenge.quiet-otter.lancert.dev
    Update:
      type: object
      additionalProperties: false
      required: [subdomain, txt]
      properties:
        subdomain:
          type: string
          description: Opaque DNS label returned by registration.
          pattern: "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$"
        txt:
          $ref: "#/components/schemas/Challenge"
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
    Health:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [ok, degraded]
    Status:
      type: object
      required: [status, version, commit, api_version, metrics]
      properties:
        status:
          type: string
          enum: [operational, degraded]
        version:
          type: string
        commit:
          type: string
        api_version:
          type: string
          const: "2"
        metrics:
          type: object
          required: [available, queries_24h, acme_active_registrations_30d, response_p95_ms]
          properties:
            available:
              type: boolean
            queries_24h:
              type: integer
              minimum: 0
              description: Authoritative DNS requests received in the last 24 hours.
            acme_active_registrations_30d:
              type: integer
              minimum: 0
              description: Registrations with an accepted DNS-01 update in the last 30 days.
            response_p95_ms:
              type: number
              minimum: 0
            updated_at:
              type: string
              format: date-time
  responses:
    BadRequest:
      description: Invalid address, body, JSON, or challenge value.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RateLimited:
      description: Request rate limit exceeded.
      headers:
        Retry-After:
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    DatabaseError:
      description: Essential state operation failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
